:root {
  --navy: #101D56;
  --orange: #FF751F;
  --teal: #0097B2;
  --grey: #f4f6fb;
  --border: #dde2f0;
  --text: #101D56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background: var(--navy);
}

/* PAGE */

.page-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: var(--navy);
}

/* CARD */

.card {
  width: 100%;
  max-width: 480px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,.35);
}

.card-accent {
  height: 6px;
  background: var(--orange);
}

.card-inner {
  padding: 35px;
}

/* LOGO */

.logo-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: auto;
}

.logo-image {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.logo-text {
  margin-top: 10px;
  font-size: 26px;
  font-weight: bold;
  color: var(--navy);
  text-align: center;
}

.logo-text span {
  color: var(--orange);
}

/* TABS */

.tabs {
  display: flex;
  border: 2px solid var(--navy);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
}

.tab {
  flex: 1;
  padding: 14px;
  background: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  color: var(--navy);
}

.tab.active {
  background: var(--navy);
  color: white;
}

/* FORM */

.form-panel {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: var(--grey);
  font-size: 15px;
}

input:focus {
  outline: none;
  border-color: var(--teal);
}

/* BUTTONS */

.btn-primary {
  padding: 14px;
  background: var(--navy);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.show-password-btn {
  width: 100%;
  padding: 12px;
  background-color: #f4f4f4;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 15px;

  font-size: 14px;
  font-weight: 600;
  color: #1c2674;

  transition: all 0.3s ease;
}

.show-password-btn:hover {
  background-color: #1c2674;
  color: white;
}


.btn-primary:hover {
  background: #1a2d7a;
}

.btn-secondary {
  padding: 14px;
  background: white;
  border: 2px solid var(--teal);
  color: var(--teal);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-secondary:hover {
  background: var(--teal);
  color: white;
}

/* DIVIDER */

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider-line {
  flex: 1;
  height: 1px;
  background: var(--border);
}

.divider-text {
  font-size: 13px;
  color: grey;
}